:root {
  --background-main: #202044;
  --background-light: #4a4a8f;
  --background-medium: #30305C;
  --bg-black-24: rgba(0, 0, 0, 0.25);
  --bg-black-60: rgba(0, 0, 0, 0.6);

  --text-default: #ffffff;
  --text-darker: #e6e6e6;
  --text-white-60: rgba(255, 255, 255, 0.6);
  --text-white-86: rgba(255, 255, 255, 0.86);
  --text-hover: #A655F6;

  --green-primary: #54ff84;
  --green-primary-50: #3a8f64;
  --yellow-primary: #dab24a;

  --radius-small: 8px;
  --radius: 16px;

  --section-padding: 32px;
  --section-padding-mobile: 4vw;

  --section-max-width: 1044px;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100%;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: var(--text-default);
}

.bg-main {
  background-color: var(--background-main);
}

// Text
.text-default {
  color: var(--text-default);
}
.text-darker {
  color: var(--text-darker);
}

// Links
a {
  transition: color 0.15s linear;
  // color: var(--green-primary);
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:active,
  &.active {
    opacity: 0.9;
  }

  &.disabled {
    color: var(--green-primary-50);
    pointer-events: none;
  }
}

// Autofill-hack for inputs
// Prevent forced autofill hints by browser
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

// Headings
b {
  font-weight: 600;
  color: var(--text-default);
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 120%;
}

h1 {
  font-size: 29px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 23px;
}

// App Elements Styles
#application-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100%;
  flex-grow: 1;
  max-width: var(--section-max-width);
  padding-top: var(--section-padding);
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
}

.section.pb-50 {
  p + h2 {
    margin-top: 20px;
  }
}

.section.pb-50 {
  ul + h2 {
    margin-top: 20px;
  }
}

// Media
@media screen and (max-width: 1080px) {
  .section {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 22px;
    line-height: 28px;
  }

  .section {
    padding-top: var(--section-padding-mobile);
  }
}